/*
dark green: 
light green: #85bd3e;
gray: #b4b6b1
*/

body{
color: black;
font-family: Arial;
}

a{

color: #209048; 
}

.container1{
position: absolute; left: +50%; top: +10px;
}

.container2{
position: relative; left: -400px;
/*background: pink;*/
width: 800px;
}

.logo{
position: relative;
left: +0px;
top: +0px;
}

.topPanel{
/*border-color: #85bd3e;*/
/*
border-color: #209048; 
border-style: solid;
border-width: 2px;
*/
width: 596px;
height: 80px;
margin-top: -462px;
margin-left: 204px;

position: absolute;


background-color: #85bd3e;
}

.contentPanel{
position: absolute;
margin-left: 204px;
margin-top: -380px;*
width: 596px;
padding-bottom: 100px;
/*height: 500px;*/
}

.bottomPanel{

position: absolute;
/*bottom: 0px;*/
margin-top: 20px;
/*margin-left: 204px;*/
width: 596px;
height: 40px;
/*text-align: center;*/

background-color: #85bd3e;
/*
border-color: #209048; 
border-style: solid;
border-width: 2px;
*/

}

.text{
margin: 10px;
}

.buttonLink{
color: white;
}

.userLink{
color: #209048; 
}

.button{
display: inline-block;
margin: 2px;
padding: 3px;
background-color:  #209048; 
border-color: #209048; 
border-style: solid;
border-width: 2px;

}

.button:hover{
display: inline-block;
margin: 2px;
padding: 3px;
background-color: #85bd3e;
border-color: #209048; 
border-style: solid;
border-width: 2px;

}

.userButton{
display: inline-block;
margin: 2px;
padding: 5px;
background-color: white;
color: white;
}

.tableContentCell{
border-color: #85bd3e;
border-style: solid;
border-width: 2px;

}

.tableHeaderCell{
border-color: #85bd3e;
border-style: solid;
border-width: 2px;

}
